<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

    </head>
    <body>

        <div class="jumbotron">
            <h1>Welcome to our Donation Page!</h1>
            <h2>Would you like to donate?</h2>

            <form action="{{url_for('payment')}}" method="post">
                <script 
                   src="https://checkout.stripe.com/checkout.js"
                   class="stripe-button"
                   data-key={{public_key}}
                   data-amount="1999"
                   data-name="Puppy Adoption"
                   data-description="Donation"
                   data-locale="auto"
                   data-zip-code="true"
                >

                </script>
                   

            </form>
        </div>
    </body>
</html>